<div class="ball-selector-wrapper" >
  <div *ngIf="!result">
    <h4>Numbers</h4>
    <div class="balls-wrapper">
      <app-ball *ngFor="let ball of balls" [numberOfBall]="ball" (click)="onSelectBall(ball)" [cursor]=true></app-ball>
    </div>
    <button class="clear-selection-button" (click)="onClearSelection()">Clear selection</button>
  </div>
  <div *ngIf="result">
    <h3>Result</h3>
    <app-ball [numberOfBall]="result.ball"></app-ball>
    <div *ngIf="result.result === 'winner'">
      <div class="win">{{'you won' | uppercase }}</div>
      <div>Price : {{result.prize}}€</div>
    </div>
    <div *ngIf="result.result === 'lose'">
      <div class="lose">{{'you lose' | uppercase }}</div>
    </div>
    <div></div>
  </div>
</div>
