.balls-wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.bet-slip-wrapper {
  padding: 20px;
  background-color: #ffffff;
  margin: 10px;
}

.ok-button {
  background-color: rgb(27, 138, 212);
  border: inherit;
  color: white;
  padding: 7px 20px;
  margin: 10px;
  cursor: pointer;
}

.bet-input {
  padding: 5px 0;
  border: 1px solid #000000;
}

.bet-count {
  background-color: #eeeeee;
  padding: 5px;
}

.total-amount {
  margin: 10px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.bet-button {
  background-color: rgb(27, 138, 212);
  width: 100%;
  border: inherit;
  padding: 10px;
  margin: 10px 10px 10px 0px;
  color: #ffffff;
  cursor: pointer
}

button:disabled {
  background-color: #eeeeee;
  cursor: default
}



